@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.detailsBanner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    45deg,
    rgba(20, 16, 29, 0.948),
    rgba(13, 46, 86, 0.837)
  );

  z-index: -1;
}

::-webkit-scrollbar {
  width: 6px;
  padding-left: 10px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #0b253f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7da9d7;
  border-radius: 100vh;
  border: 3px solid #79ade0;
}

/* Handle on hover */
.coustomScroll::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

.myBtn {
  @apply px-4 py-3 rounded bg-gradient-to-l from-blue-500 to-cyan-500 font-bold text-xl text-slate-900;
}
.grText {
  @apply text-4xl md:text-7xl font-bold  bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-cyan-500;
}

.dashboard-menu li a {
  background-color: transparent !important;
}
.styledInput {
  @apply p-3 rounded w-full text-slate-100 bg-slate-900 border border-slate-200 border-opacity-20 shadow;
}
.myTable {
  background-color: #0b253f !important;
  border-radius: 6px;
  text-align: left;
  margin: 20px;
}
.myTable th {
  background-color: #0f263d !important;
  color: #79ade0;
}
.table th:first-child {
  position: relative !important;
}
.myTable td {
  background-color: #0c2b4a !important;
  color: #79ade0;
  margin: 4px 0;
  padding: 6px;
}
.myTable tbody tr:nth-child(even) {
  background-color: #7da9d7 !important;
}
.myTable tbody tr {
  border-bottom: 1px solid #72bffa4a;
  padding: 8px;
}
.myTable tbody tr:last-child(last) {
  border-bottom: none !important;
}

.modal-box {
  background-color: #0b253f !important;
}
/* .myCard img {
  transition: 0.5s;
}

.myCard:hover .myCard img {
  transform: scale(1.4);
} */
.myCaer:hover {
  transform: scale(1.3);
}
